<h1>Events list</h1>

<% @events.each do |e| %>
    <li>
    
    <%=e.name %>
    <%= link_to "Show", :controller => "events", :action => "show", :id =>e %>  
    
    <%= link_to "編輯", :controller => "events", :action => "edit", :id =>e %>  
    
    <%= link_to "刪除", :controller => "events", :action => "destroy", :id =>e %> 
    </li>
    <%end%>
    </ul>
    
    <%= link_to 'New Event', :controller => 'events', :action => 'new' %>
    
    <%= paginate @events %>